[D-BUS Service]
# Start the org.fedoraproject.Anaconda.Addons.ConsultingNetwork service.
# Runs org_rh_consulting_network/service/__main__.py
Name=org.fedoraproject.Anaconda.Addons.ConsultingNetwork
Exec=/usr/libexec/anaconda/start-module org_rh_consulting_network.service
User=root